{% extends 'Shared/shared2.html' %}
{% load staticfiles %}

{% block titulo %}Balance General Pasivo Guardar{% endblock titulo %}

{% block mensaje %}

<h1>Balance General Pasivo</h1>
<h2>Procesadora de Cacao</h2>
<h2>Del 1 al {{lday}} de {{mes}} del {{year}}</h2>
<br><br><br>
  
{% endblock mensaje %}
{% block contenido %}
  


{% block tituloTabla %}

<th>Cuenta</th>
        <th>Monto</th>
  
{% endblock tituloTabla %}

{% block pieTabla %}

<th class="info">Cuenta</th>
        <th class="info">Monto</th>
  
{% endblock pieTabla %}

{% block filaTabla %}


{% for cuentasP in cuentasP %}
        {% if cuentasP.cuenta.totalCuenta == 0 %}
        {% else %}
        <tr style="background-color:white">
          <td>{{cuentasP.cuenta.nombre}}</td>
          <td>&nbsp;$&nbsp;{{cuentasP.cuenta.totalCuenta|floatformat:2}}&nbsp;</td>
        </tr>
            
        {% endif %}
          
        {% endfor %}
        <tr>
        <td style="background-color: #dba80f;">Total de Pasivos</td>
        <td style="background-color: #dba80f;">&nbsp;$&nbsp;{{totalP|floatformat:2}}&nbsp;</td>
        </tr> 

{% endblock filaTabla %}

{% endblock contenido %}