{% extends 'Shared/shared2.html' %}
{% load staticfiles %}

{% block titulo %}Estado de Capital InversionesGuardar{% endblock titulo %}

{% block mensaje %}

<h1>Estado de Capital Inversiones</h1>
<h2>Procesadora de Cacao</h2>
<h2>Del 1 al {{lday}} de {{mes}} del {{year}}</h2>
<br><br><br>
  
{% endblock mensaje %}
{% block contenido %}
  


{% block tituloTabla %}

<th>Cuenta</th>
        <th>Monto</th>
  
{% endblock tituloTabla %}

{% block pieTabla %}

<th class="info">Cuenta</th>
        <th class="info">Monto</th>
  
{% endblock pieTabla %}

{% block filaTabla %}

{% for cuentasA in cuentasA %}
        <tr style="background-color: white;">
          <td>{{cuentasA.cuenta.nombre}}</td>
          <td>&nbsp;$&nbsp;{{cuentasA.cuenta.totalCuenta|floatformat:2}}</td>
        </tr>
          
        {% endfor %}
        <tr style="background-color:white;">
        <td>Utilidades a invertir(&nbsp;Politica de {{capitalP.cantidad|floatformat:2}} %&nbsp;)</td>
        <td>&nbsp;$&nbsp;{{utilidadI|floatformat:2}}&nbsp;</td>
        </tr>
        <tr class="danger">
        <td >Total de Inversiones</td>
        <td >&nbsp;$&nbsp;{{totalI|floatformat:2}}</td>
        </tr>   
{% endblock filaTabla %}

{% endblock contenido %}