{% extends 'Shared/shared3.html' %}

{% block titulo %}Ayuda{% endblock %}
{% block contenido %}
    {% block TituloPagina %}

    <div class="container">
        <div >
            <div class="container">
        <h2 class="light">Libro diario</h2>
        <div class="divider"></div>

        <p style="color:blue">Aquí podrás registrar todas las transacciones del día a día de la empresa, debes estar seguro que se cumple partida doble
            para cada registro. Una vez registrada podrás acceder a los movimientos hechos mediante los estados financieros.
            Debes seleccionar el número de cuentas a utilizar. Se desplegarán
            el número de campos seleccionados anteriormente. Posterior a esto se llenará cada campo seleccionando las cuentas a afectar.
        </p>
        <br>
        <h2 class="light">Estados Financieros</h2>
        <div class="divider"></div>
        <h5 class="light"> Balance de Comprobación.</h5>
        <p style="color:blue">Es este puedes comprobar si se cumple partida doble</p>
        <h5 class="light">Estado de Resultados.</h5>
        <p style="color:blue">Presenta un resumen de los ingresos, costos, gastos, ganancias y pérdidas de una entidad durante un período
            específico. </p>
        <h5 class="light">Estado de Capital.</h5>
        <p style="color:blue">Presenta un resumen de los cambios realizados en el capital contable durante el período en estudio. El aumento
            del capital se da en la Inversión y las Utilidades Netas del período, las disminuciones por retiros del propietario o
            pérdidas netas.</p>
        <h5 class="light">Balance General</h5>
        <p style="color:blue">Es como la fotografía de una entidad en términos monetarios, por lo que nos informa para un momento dado o
            una fecha determinada, también se conoce como “Estado de la Situación Financiera", en el puedes ver dualidad Economica.</p>

        <br>
        <h2 class="light">Ordenes de fabricación.</h2>
        <div class="divider"></div>
        <p style="color:blue">Se considera Orden de Producción al conjunto de procedimientos empleados en el control de operaciones
            productivas de un artículo, proyecto o un lote de artículos. Es utilizado en la industria donde se puede separar los
            elementos de costos por cada pedido de fabricación en un período determinado. </p>   <br>
        <h2 class="light">Costeos.</h2>
        <div class="divider"></div>
        <p style="color:blue">(pedidos) Engloba la producción de artículos específicos ya sea por ensamble, partes y sub-ensambles. Las órdenes
            cuentan con los tres elementos de costos y es añadido independientemente en cada orden realizada. Este lo hace por medio de ordenes de
            fabricación Debido a la naturaleza del negocio.
        </p>   <br>
        <h2 class="light">Planilla.</h2>
        <div class="divider"></div>
        <p style="color:blue">A toda empresa le interesa saber el costo real de la mano de obra (Históricamente se creía que este factor era un
            gasto irrecuperable). Actualmente lo definiremos como: Salario contratado: Valoración del esfuerzo humano
            necesario para transformar la materia prima en un producto y debe ser remunerado con moneda de uso vigente.</p>
        <h5 class="light">Objetivos:</h5>
        <p style="color:blue">1.  Llevar un control de
            trabajadores y sus costos
            incurridos</p>
        <p style="color:blue">2. Para proyecciones de
            gastos o inversión
            (ascensos, nuevas
            contrataciones, etc.)</p>
        <p style="color:blue">3. Para realizar planillas de
            pago formalmente
            establecidas</p>
        <p style="color:blue">4. Para determinar el costo
            de producción a través de
            este factor</p>   <br>

        <h2 class="light">Inventario de Materia Prima.</h2>
        <div class="divider"></div>
        <p style="color:blue">Método de valoración de inventario es costo promedio (CP). Debes registrar los movimientos tanto entradas como salidas </p>   <br>

        <h2 class="light">Catalogo de cuentas</h2>
        <div class="divider"></div>
        <p style="color:blue">Las cuentas se agrupan en un orden lógico y a medida van cuando más cuentas éstas deben
            aumentar el grupo. es
            exigible en toda empresa desde su constitución. El registro de aumento o disminución de
            cuentas se debe realizar diariamente.</p>

        <br>
        <h2 class="light">Recomendaciones </h2>
        <div class="divider"></div>
        <p style="color:blue">El software contable, debe de ser utilizado por un contador o persona capacitada para llevar a cabo la contabilidad.</p>
        <p style="color:blue">Respetar los Principios Contables Generalmente Aceptados. Como Realización que es el registro de las transacciones.
            Período Contable, que consiste en respetar intervalos regulares de tiempo. Principio de Acumulación, en donde se registran
            ingresos o gastos a medida que se devengan o incurren, entre otros. Todos estos principios se aplican con el fin de
            proporcionar información útil para la toma de decisiones de la empresa.</p>
    </div>



        </div>

    </div>
{% endblock TituloPagina %}

{% endblock %}