{% extends "Shared/shared3.html" %}
{% block titulo %}Contactenos{% endblock titulo %}
{% block contenido %}
	<h2 class="page-title">Equipo de Desarrollo</h2>
	                <div class="row">
                    <!-- .col -->
                    <div class="col-md-4 col-sm-4">
                        <div class="white-box">
                            <div class="row">
                                
                                <div class="col-md-8 col-sm-8">
                                    <h3 class="box-title m-b-0">oscar Ernesto Mayen de la Cruz</h3> <small>MD12038</small>
                                    <p>
                                        <address>
                                            Universidad de El Salvador, Facultad de Ing y Arq.
                                            <br/>
                                            <br/>
                                        </address>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!-- .col -->
                    <div class="col-md-4 col-sm-4">
                        <div class="white-box">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <h3 class="box-title m-b-0">Tobias Alexander Santamaria Diaz</h3> <small>SD13010</small>
                                    <p>
                                        <address>
                                            Universidad de El Salvador, Facultad de Ing y Arq.
                                            <br/>
                                            <br/>
                                        </address>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!-- .col -->
                    <div class="col-md-4 col-sm-4">
                        <div class="white-box">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <h3 class="box-title m-b-0">Kevin eliseo arevalo beltran</h3> <small>AB12010</small>
                                    <p>
                                        <address>
                                            Universidad de El Salvador, Facultad de Ing y Arq.
                                            <br/>
                                            <br/>
                                        </address>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <!-- .col -->
                    <div class="col-md-4 col-sm-4">
                        <div class="white-box">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <h3 class="box-title m-b-0">V&iacute;ctor Alejandro Gonz&aacute;lez Ar&eacute;valo</h3> <small>GA13016</small>
                                    <p>
                                        <address>
                                            Universidad de El Salvador, Facultad de Ing y Arq.
                                            <br/>
                                            <br/>
                                        </address>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!-- .col -->
                    <div class="col-md-4 col-sm-4">
                        <div class="white-box">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <h3 class="box-title m-b-0">Elias Arturo Diaz Sorto</h3> <small>DS13013</small>
                                    <p>
                                        <address>
                                            Universidad de El Salvador, Facultad de Ing y Arq.
                                            <br/>
                                            <br/>
                                        </address>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!-- .col -->
                    
{% endblock contenido %}